<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/animals/new">Add an animal</a> 
    </nav>
    <h1>Animals</h1> 
    <ul>
        <% animals.forEach(animal=> { %> 
            <li>
                <a href="/animals/<%= animal._id %>">
                    <%= animal.species %>
                </a> 
            </li>
            <% }) %> 
    </ul>

</body>

</html>