<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create New Book</h1> 
    <form action="/animals" method="POST">
        
        Species: <input type="text" name="species" required />
       
        <br />
        Extinct: <input type="checkbox" name="extinct" /> 
        <br />
        Location: <input type="text" name="location" /> 
        <br />
        Life Expectancy: <input type="number" name="lifeExpectancy" />
       
        <br />
        <input type="submit" name="" value="Add Animal" /> <
    </form>
</body>

</html>